:root {
  /* color tokens */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-400: #9f9f9f;
  --color-gray-500: #808080;
  --color-gray-600: #595959;
  --color-forground: var(--color-black);
  --color-background: var(--color-white);

  /* gap tokens */
  --gap: 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-forground: var(--color-white);
    --color-background: var(--color-black);
  }
}